/**
 * ----------------------------------------------------------------------------
 * #.# Editor CSS
 *
 * BLOCK: 01-basic block CSS for the editor.
 * ----------------------------------------------------------------------------
 */

.wp-block-aesop-reveal-column {
	width:50%;
	float:left;
}

.wp-block-aesop-reveal-row {
	display:table;
}

.wp-block-aesop-story-engine .twentytwenty-container {
    width:100%;
    height:auto;
    background-size: cover;
}
